<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<input type="textbox" 
				   data-ng-model="searchPlane"
				   placeholder="Search Planet"
				   class="form-control input-lg"
				   data-ng-keyup="searchPlanet()">
		</div>
	</div>
	<div class="row">
        <div class="col-lg-12">
			<bubble-chart bubble-no='1'
						  bubble-data="resultData"
						  bubble-colors="bubbleColors">
			</bubble-chart>
			<div class="bubbleChart1"></div>
			<bubble-legend bubble-no='1'
                           bubble-data="resultData"
                           bubble-colors="bubbleColors">
            </bubble-legend>
		</div>
	</div>
</div>