<div class="vertical-center">
    <div class="container">
        <div class="landing-panel horizontal-center shadow-box">
            <form role="form"
                  autocomplete="off"
                  method="post"
                  action="" 
                  novalidate>
                <div class="form-group">
                    <span class="title-text">Login to your Account</span>
                </div>
                <div data-ng-if="returnObj.existingUser==0"
                     class="bg-danger">
                     Invalid Username or Password
                </div>
                <div class="form-group">
                    <input type="text" 
                           class="form-control" 
                           id="name"
                           autocomplete="off"
                           placeholder="Name"
                           data-ng-model="user.name">
                </div>
                <div class="form-group">
                    <input type="password" 
                           class="form-control" 
                           id="byear"
                           autocomplete="off"
                           placeholder="Birth Year"
                           data-ng-model="user.byear">
                </div>
                <div class="form-group">
                    <button type="button" 
                            class="btn btn-default btn-custom full-width"
                            data-ng-click="loginPanelUser(user)">
                        Login <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>