<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            Swapi
          </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a data-ng-click="logout()">
              Welcome {{$root.currentUser | uppercase}}
            </a>
          </li>
          <li data-ng-if="$root.currentUser.length > 0">
            <a data-ng-click="logout()">
              Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>